@model ImageGenerationUserInput



<h1>Enter an image</h1>

<form method="post" asp-action="Create" asp-controller="ImageGeneration">
    <div class="form-group">
        <label asp-for="Input">Input</label>
        <input type="text" asp-for="Input" class="form-control" required id="Input" placeholder="Enter an image">
        <span asp-validation-for="Input"></span>
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>
