@model ChatBotUserInput

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h1>Enter a request</h1>

<form method="post" asp-action="Create" asp-controller="ChatBot">
    <div class="form-group">
        <label asp-for="Input">Input</label>
        <input type="text" asp-for="Input" class="form-control" required id="Input" placeholder="Send a message">
        <span asp-validation-for="Input"></span>
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>


